* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* NAVBAR AND HERO SECTION  */
.hero {
    height: 100vh;
    width: 100%;
    background-image: url('./feane_content/burger.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nam {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: "Dancing Script", cursive;
}

.link {
    display: flex;
    gap: 25px;

}

.center {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    transition: color 0.2s linear;

}

.center:hover {
    color: #fbbe33;
}

.hom {
    color: #fbbe33;
}

.third-div {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    color: white;
}

.icons {
    cursor: pointer;
    transition: all 0.2s linear;


}

.icons:hover {
    color: #fbbe33;
}

.btn {
    display: flex;
    height: 40px;
    width: 150px;
    justify-content: center;
    background-color: #fbbe33;
    align-items: center;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 20px;

}

.btn:hover {
    background-color: #e79508;

}

.order {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 18px;

}

.fast {

    width: 50%;
    padding-top: 70px;
    padding-left: 110px;
    animation: slide 4s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(400px);
        opacity: 0.7;
    }

    25% {
        transform: translateX(0px);
        opacity: 1;

    }

    50% {
        transform: translateX(0px);
        opacity: 1;
    }

    75% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-400px);
        opacity: 0;
    }


}

.food {
    text-transform: capitalize;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
}

.para {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px;
    line-height: 1.4;
}

.orders {
    margin-top: 30px;
}

.now {
    height: 40px;
    width: 170px;
    background-color: #fbbe33;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: all 0.2s linear;
}

.now:hover {
    background-color: #e79508;

}

.shop {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.shops {
    color: white;
    margin-top: 5px;
}

/* CARDS SECTION  */

.cards {
    height: 250px;
    width: 100%;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.tasty {
    color: white;
    text-transform: capitalize;
    font-family: "dancing script", cursive;
    font-size: 26px;

}

.card-img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fbbe33;


}

.bread {
    height: 160px;
    width: 160px;
    transition: all 0.2s linear 0.1s;


}

.card1 {
    background-color: #222831;
    height: 215px;
    width: 550px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    gap: 15px;
    border-radius: 6px;
    transition: all 0.3s linear 0.1s;

}

.card1:hover .bread {
    transform: scale(1.1);
}

.para1 {
    color: white;
    font-family: "dancing script", cursive;
    font-size: 43px;
    margin: 10px 0px;
}

.span {
    font-size: 1rem;
}

.dots {
    display: flex;
    gap: 10px;
    justify-content: start;
    padding: 120px 150px;
    align-items: center;
}

.div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fbbe33;

}

.div1 {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
}

/* MENU SECTION  */
.menu {
    margin: 70px 0px;
    height: auto;
    width: 100%;


}

.our {
    text-transform: capitalize;
    font-family: "dancing script", cursive;
    text-align: center;
    font-size: 40px;
}

.dishes {
    margin: 50px 0px 60px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.dish {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;

}

.all {
    height: 40px;
    width: 70px;
    color: white;
    background-color: #222831;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.menu-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.menu1 {
    height: 400px;
    width: 360px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    transition: all 0.1s linear;

}

.menu1:hover .pizza {
    transform: scale(1.1);
}

.menu-img {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f3;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;

}

.menu-content {
    padding: 15px 20px;
}

.pizza {
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: all 0.2s linear;


}

.paraa {
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0px;

}

.lines {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3;
    color: white;
    margin: 8px 0px 10px 0px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dollar {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.value {
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fbbe33;
    text-decoration: none;
}

.views {
    display: flex;
    justify-content: center;
}

.view {
    margin-top: 60px;
    height: 45px;
    width: 160px;
    background-color: #fbbe33;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    border-radius: 22px;
    transition: all 0.3s linear;
}

.view:hover {
    background-color: #e79508;
}


/* ABOUT SECTION  */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 100%;
    background-color: #222831;
    gap: 50px;
}

.ab-img {
    height: 96vh;

}

.about-text {
    width: 42%;
    margin-left: 15px;



}

.fean {
    color: white;
    font-size: 42px;
    font-family: "dancing script", cursive;
    text-transform: capitalize;

}

.fean-para {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 15px 0px 25px 0px;
}

.read {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbbe33;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s linear;
}

.read:hover {
    background-color: #e79508;
}



/* TABLE TRANSITION SECTION  */
.booking {
    height: 100vh;
    width: 100%;


}

.book-table {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.book {
    text-transform: capitalize;
    font-family: "dancing script", cursive;
    font-size: 36px;
    padding-top: 80px;
    margin-bottom: 30px;
    margin-left: 7%;
}

.table {

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.input {
    width: 540px;
    height: 50px;
    padding: 0px 20px 0px 10px;
    font-size: 15px;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(177, 172, 172);
    outline: none;
}

input::placeholder {
    color: black;
}

.book-now {
    width: 160px;
    height: 45px;
    background-color: #fbbe33;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.4s linear;
}

.book-now:hover {
    background-color: #e79508;

}

.map {
    height: 350px;
    border-radius: 12px;
}

/* TESTIMONIALS SECTION  */
.customers {
    width: 100%;
    height: 600px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.what {
    text-transform: capitalize;
    font-family: "dancing script", cursive;
    font-size: 40px;
    text-align: center;
}

.custom-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;


}

.custom1 {
    background-color: #222831;
    height: 180px;
    width: 550px;
    border-radius: 4px;
    color: white;
    padding: 20px 30px;


}

.say {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

.custom-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 20px;


}

.star {
    margin-top: 10px;
}

.custom-imgs {
    display: flex;
    justify-content: start;
    margin-left: 110px;
    margin-top: 25px;
    gap: 38%;

}

.boy {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 5px solid #fbbe33;
}

.angles {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.left {
    background-color: #fbbe33;
    color: white;
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s linear;

}

.left:hover {
    background-color: #e79508;
}

/* FOOTER SECTION  */
.footer {
    height: 440px;
    width: 100%;
    background-color: #222831;

}

.footer {

    padding: 70px 50px 0px 50px;

}

.footer1 {
    display: flex;
    justify-content: center;
    gap: 110px;

}

.contacts {
    text-transform: capitalize;
    font-family: "dancing script", cursive;
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.loc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;


}

.locs {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

.locs:hover {
    color: #fbbe33;
}

.feaner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.feaner-para {
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.media {
    display: flex;
    margin-top: 30px;
    gap: 5px;
}

.medias {
    font-size: 17px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.medias:hover {
    color: #fbbe33;
}

.opening {
    display: flex;
    flex-direction: column;
}

.days {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;

}

.text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footer2 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.foot-para {
    color: white;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
